h2,h3,h4 {
    color: crimson;
    text-align: center;   
}


.header{
background-color:blueviolet ;
display:flex
justify-content:space-between
}
.grid{ 
    display: flex;
     flex-wrap: wrap;
      justify-content: space-evenly;
      font-family:monospace;
      border:solid;
 } 

 .item{
    color:crimson;
    border-radius: 20px;
    background-color: #ffffff;
    /* modify margin and padding here*/
    padding: 25px;
    margin: 25px;
    width:310px;
 }
 .footer{
display: flex;
 justify-content: flex-end;
 }
  p,h2{ text-align: center;
 }
 body{
    background-color:lightgrey;
    color:lightgrey; 
 
}

a,img{border:none;}

body{
    background-color:lightgrey
    
}

 
 
.menu {
    position: relative;
    background-color:crimson;
    overflow: hidden;
  }
  .menu a{
    color:white;
  }
.center-menu{
    float: center;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}
  
.center-menu:hover {
    background-color:darkgreen;
    color:#ddd;
  }
  .center-menu.active {
    background-color: #04AA6D;
    color: white;
  }
  .center-menu{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menu-left{
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}
  
.menu-left:hover {
    background-color:darkgreen;
    color: white;
  }
  .menu-left.active {
    background-color: #04AA6D;
    color: white;
  }
  .menu-right{
    float: right;
    color:#fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}
  
.menu-right:hover {
    background-color: darkgreen;
    color: white;
  }
  .menu-right.active {
    background-color: #04AA6D;
    color: white;
  }

  .item{
    float:center

  }

  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .hello2{
    text-align:center
  }